@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: hsl(27deg, 66%, 92%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  width: 30rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  gap: 1rem;
}
@media (max-width: 320px) {
  main {
    padding: 2.5rem 0.5rem;
  }
}
@media (orientation: landscape) {
  main {
    max-width: 90vw;
    max-height: 100vh;
    padding: 1rem 0.5rem;
  }
}

.hidden {
  display: none;
}

.component-head {
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 0.5rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 30rem) {
  .component-head {
    padding: 1rem 2rem;
  }
}
.component-head__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.component-head__text p, h1 {
  color: hsl(33deg, 100%, 98%);
}
.component-head__text h1 {
  font-size: 0.9rem;
}
.component-head__text p:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 700;
}
@media (min-width: 30rem) {
  .component-head__text p:nth-child(2) {
    font-size: 1.5rem;
  }
}
.component-head__logo svg {
  max-width: 3.5rem;
}

.component-body {
  background-color: hsl(33deg, 100%, 98%);
  border-radius: 0.5rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 30rem) {
  .component-body {
    padding: 1.5rem 2rem;
  }
}
.component-body__heading p {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0.2rem auto;
}
@media (min-width: 30rem) {
  .component-body__heading p {
    font-size: 1.6rem;
  }
}
.component-body__chart .table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}
.component-body__chart .table__pillar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 1.8rem;
  max-width: 100%;
  position: relative;
}
@media (min-width: 30rem) {
  .component-body__chart .table__pillar {
    width: 2.5rem;
  }
}
.component-body__chart .table__pillar .value {
  background-color: hsl(25deg, 47%, 15%);
  position: absolute;
  text-align: center;
  color: hsl(33deg, 100%, 98%);
  font-weight: 700;
  font-size: 0.5rem;
  padding: 5px;
  border-radius: 4px;
  top: -2rem;
  align-self: center;
}
@media (min-width: 30rem) {
  .component-body__chart .table__pillar .value {
    font-size: 0.9rem;
    top: -2.5rem;
  }
}
.component-body__chart .table__pillar .rect {
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 0.2rem;
  width: 100%;
  cursor: pointer;
}
.component-body__chart .table__pillar .rect:hover {
  background-color: #f29e8d;
}
.component-body__chart .table__pillar .rect.today {
  background-color: hsl(186deg, 34%, 60%);
}
.component-body__chart .table__pillar .rect.today:hover {
  background-color: #98c7cd;
}
.component-body__chart .table__pillar .text {
  color: hsl(28deg, 10%, 53%);
  font-size: 0.7rem;
  text-align: center;
}
.component-body__chart .table__pillar button {
  font-size: 1rem;
}
.component-body__divider {
  background-color: hsl(27deg, 66%, 92%);
  max-width: 100%;
  min-height: 0.18rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.component-body__summary {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.component-body__summary--total {
  gap: 0.2rem;
}
.component-body__summary--total p:nth-child(1) {
  font-size: 0.7rem;
  color: hsl(28deg, 10%, 53%);
}
@media (min-width: 30rem) {
  .component-body__summary--total p:nth-child(1) {
    font-size: 1rem;
  }
}
.component-body__summary--total p:nth-child(2) {
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(25deg, 47%, 15%);
}
@media (min-width: 30rem) {
  .component-body__summary--total p:nth-child(2) {
    font-size: 2.5rem;
  }
}
.component-body__summary--percent {
  text-align: right;
}
.component-body__summary--percent p:nth-child(1) {
  font-size: 0.7rem;
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
}
@media (min-width: 30rem) {
  .component-body__summary--percent p:nth-child(1) {
    font-size: 1rem;
  }
}
.component-body__summary--percent p:nth-child(2) {
  font-size: 0.7rem;
  color: hsl(28deg, 10%, 53%);
}
@media (min-width: 30rem) {
  .component-body__summary--percent p:nth-child(2) {
    font-size: 1rem;
  }
}

footer {
  text-align: center;
  font-size: 0.6rem;
}
footer .attribution a {
  color: hsl(10deg, 79%, 65%);
}
@media (orientation: landscape) {
  footer {
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */
